// --project discanvis: Full proteome, all annotation tracks (DisCanVis2 web server update)
params {
    outdir         = 'results/discanvis'
    target_gene    = null
    mapping_mode   = 'all_isoform_mapping'
    blast_coverage = 80
    idmap_coverage = 95
    seq_cutoff     = 80
    
    scatter_chunks        = 20
    blat_chunks           = 32
    per_gene_md_threshold = 50
}
