// Full DisCanVis database update: full human proteome, all regular annotation tracks.
params {
    outdir                = 'results/discanvis'
    target_gene           = null
    mapping_mode          = 'all_isoform_mapping'
    scatter_chunks        = 20
    blat_chunks           = 32
    per_gene_md_threshold = 50

    skip_pdb              = false
    skip_ppi              = false
    skip_cancer_drivers   = false
    skip_alphamissense    = false
    skip_depmap           = false
    skip_clinvar_disease  = false
    skip_omim             = false
    skip_mavedb           = false
    skip_proteingym       = false
    skip_pathogenicity    = false
    skip_polymorphism     = false
    skip_snp              = false
    skip_scansite         = false
    skip_pem              = false

    skip_conservation     = true
    skip_coiledcoils      = true
    skip_finches          = true
}
