// --project vep_benchmarking: Full proteome — mutations + pathogenicity + disorder only
params {
    outdir         = 'results/vep_benchmarking'
    target_gene    = null
    mapping_mode   = 'all_isoform_mapping'
    blast_coverage = 80
    idmap_coverage = 95
    seq_cutoff     = 80
    tcga_maf       = null
    cbioportal_maf = null

    skip_pdb            = true
    skip_ppi            = true
    skip_coiledcoils    = true
    skip_scansite       = true
    skip_pem            = true
    skip_cancer_drivers = true
    skip_omim           = true
    skip_depmap         = true
}
