// --project test_one_protein: Single-protein test (default TP53, override with --target_gene RAF1)
params {
    outdir         = 'results/test_one_protein'
    target_gene    = 'TP53'
    mapping_mode   = 'all_isoform_mapping'
    blast_coverage = 90
    idmap_coverage = 80
    seq_cutoff     = 70
}
